    <div class="media">
        <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <img src="<?php echo $this->url_img;?>" width="100" height="100"/>
                        </span>
        </div>
        <div class="media-body">
            <h4><?php echo $this->date;?></h4>
            <h4 class="media-heading">
                <a href="<?php echo $this->url(array('name'=>$this->url_seo),'blog_name'); // $url_seo?>">
                  <?php echo $this->title;?>
                </a>
            </h4>
            <p><?php echo $this->text_preview;?></p>
        </div>
    </div>

