<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><?=$this->layout()->title;?>
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><?php echo 'Home'?></a>
            </li>
            <li class="active"><?=$this->layout()->title;?></li>
        </ol>
    </div>
</div>
<!-- /.row -->