<hr />
<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>ZF. Test blog. 2016.</p>
        </div>
    </div>
</footer>

</div>
<!-- /.container -->

<!-- Bootstrap Core JavaScript -->
<?php echo $this->headScript()->appendFile($this->baseUrl() . '/js/bootstrap.min.js', 'text/javascript');?>

</body>

</html>