<?php
$this->headMeta()->appendHttpEquiv('Content-Type', 'text/html;charset=utf-8');
$this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0');
$this->headTitle()->setSeparator(' | ');
$this->headTitle(strtoupper(Zend_Registry::getInstance()->get('site')->host));

//<!-- Custom Fonts -->
$this->headLink()->prependStylesheet($this->baseUrl() . '/font-awesome/css/font-awesome.min.css');
//<!-- Custom CSS -->
$this->headLink()->prependStylesheet($this->baseUrl() . '/css/modern-business.css');
//<!-- Bootstrap Core CSS -->
$this->headLink()->prependStylesheet($this->baseUrl() . '/css/bootstrap.min.css');

//<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
$this->headScript()->appendFile('https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js', 'text/javascript', array(
    'conditional' => 'lt IE 9'));

echo $this->doctype();
?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="shortcut icon" href="<?php echo $this->baseUrl() . '/img/favicon.png'; ?>" type="image/png">
    <?php echo $this->headMeta(); ?>
    <meta name="description" content="">
    <?php echo $this->headTitle(); ?>

    <?php echo $this->headLink(); ?>
    <?php echo $this->headScript(); ?>
    <!-- jQuery -->
    <?php echo $this->headScript()->appendFile($this->baseUrl() . '/js/jquery.js', 'text/javascript');?>

    <?php echo $this->headScript()->appendFile($this->baseUrl() . '/plugins/noty/packaged/jquery.noty.packaged.js', 'text/javascript');?>

</head>
<body>

<?php echo $this->partial('navigation.phtml');?>

<?php echo $this->partial('breadcrumbs.phtml');?>

<!-- Page Content -->
<div class="container">