<?php
$this->layout()->title = "Add post";
$this->headTitle($this->layout()->title);
?>
<div class="row">
	<div class="col-xs-1 col-sm-2 col-lg-3"></div>
	<div class="col-xs-10 col-sm-8 col-lg-6">

		<?php echo $this->form; ?>

	</div>
	<div class="col-xs-1 col-sm-2 col-lg-3"></div>
</div>
