<?php
$this->layout()->title = "Blog";
$this->headTitle($this->layout()->title);
?>
<!-- Posts List -->
<div class="row">
	<div class="col-lg-12">
		<h2 class="page-header">Posts</h2>
	</div>
	<div class="col-md-6">
	<?
	echo $this->partialLoop('blog/partial/_post.phtml',$this->list);
	?>
	</div>

</div>
<!-- /.row -->

<hr>