<?php
$post = $this->post;

?>
<div class="row">
<!-- Blog Post Content Column -->
<div class="col-lg-12">

    <!-- Blog Post -->

    <hr>
<h1><?php echo $post->title;?></h1>
    <!-- Date/Time -->
    <p><i class="fa fa-clock-o"></i> <?php echo $post->date;?></p>

    <hr>

    <!-- Preview Image -->
    <img class="img-responsive" src="<?php echo $post->url_img;?>" alt="">

    <hr>

    <!-- Post Content -->
    <p class="lead">

    </p>
    <?php echo $post->text_full;?>
    <hr>

    <hr>


</div>
</div>